@import "tailwindcss";

:root {
  --background: #faf6f0;
  --primary: #d4a373;
  --dark-chocolate: #4a3525;
  --muted-cocoa: #7a6a53;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-dark-chocolate: var(--dark-chocolate);
  --color-muted-cocoa: var(--muted-cocoa);

  --font-playfair: var(--font-playfair-display);
  --font-inter: var(--font-inter);
}

* {
  box-sizing: border-box;
}
